<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    <!--    读取配置文件配置数据源-->
    <context:property-placeholder location="classpath:/db.properties"/>
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false"></property>
        <property name="user" value="root"></property>
        <property name="password" value="root"></property>
    </bean>


<!--    开启注解扫描-->
    <context:component-scan base-package="top.lzp"></context:component-scan>

<!--    静态资源放行-->
<!--    <mvc:resources mapping="/css/" location="/css/**"/>-->
<!--    <mvc:resources mapping="/fonts/" location="/fonts/**"/>-->
<!--    <mvc:resources mapping="/js/" location="/js/**"/>-->
<!--    <mvc:resources mapping="/picture/" location="/picture/**"/>-->

    <!--    开启注解驱动  (json数据交互用到的)-->
    <mvc:annotation-driven/>


<!--    事务核心管理器-->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

<!--    开启注解事务-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

<!--    配置mybatis-->
    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="top.lzp.bean"></property>
    </bean>

<!--    mapper工厂-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="top.lzp.mapper"></property>
    </bean>

<!--    配置异常处理器-->
<!--    <bean class="top.lzp.exception.MyHandlerExceptionResolver"/>-->

    <mvc:interceptors>
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            <bean class="top.lzp.interceptor.MyInterceptor1"></bean>-->
<!--        </mvc:interceptor>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            <bean class="top.lzp.interceptor.MyInterceptor2"></bean>-->
<!--        </mvc:interceptor>-->
<!--        登录验证拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
<!--            不拦截静态资源-->
<!--            <mvc:exclude-mapping path="/**/*.css"/>-->
<!--            <mvc:exclude-mapping path="/**/*.js"/>-->
<!--            <mvc:exclude-mapping path="/**/*.png"/>-->
<!--            <mvc:exclude-mapping path="/**/*.tff"/>-->
<!--            <mvc:exclude-mapping path="/**/*.woff"/>-->
            <bean class="top.lzp.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>